* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --primery-color: #693d20;
    --light-color: #f9f9f9;
    --dark-color: #090909;
    --roboto-condensed: "Roboto Condensed", sans-serif;
    --roboto: "Roboto", sans-serif;
}

body {
    background: #e3ddd7;
    font-family: var(--roboto);
    
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    letter-spacing: 0.05em;
    color: var(--dark-color);
}

ul {
    list-style: none;
    padding: 0;
}

h2 {
    font-family: var(--roboto-condensed);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--primery-color);
    text-align: center;
    margin: 16px 0;
}

header {
    height: 320px;
    background-image: url(../images/hero-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% -4px;

    h1 {
        font-family: var(--roboto-condensed);
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-align: center;
        color: var(--light-color);

        margin: 171px auto 0;
        max-width: 244px;
    }
}

.header-container {
    padding: 9px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.mobile-menu {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.mobile-menu.show {
    display: block;
}

.menu-content {
    width: 80%;
    max-width: 340px;
    position: relative;
    padding: 45px 0 20px;
    margin: 50px auto;
    background-color: #050505;
    border: 2px solid #5e5e5e;
    border-radius: 10px;
    text-align: center;

    li > a {
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
        margin-left: 0;
    }

    li {
        margin-bottom: 14px;
    }
    
    .address {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        margin-top: 35px;

        div {
            display: flex;
            align-items: center;
        }
    }

    .address img {
        width: 18px;
        height: 18px;
        margin-right: 16px;
    }
}

.close-icon {
    font-size: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 0 6px;
    border: 1px solid var(--light-color);
    border-radius: 50%;
    color: var(--light-color);
}

nav {
    margin: 16px 0;
    text-align: end;

    a {
        margin-left: 8px;
    }
}

a {
    text-decoration: none;
    color: var(--light-color);
    letter-spacing: 0.05em;
}

.location {
    margin-bottom: 8px;
    font-size: 8px;
}

.phone {
    font-size: 12px;
    text-transform: uppercase;
}

.about {
    padding: 0 24px;
}

.card {
    position: relative;
}

.production {
    max-width: 768px;
    margin: 8px auto 0;

    img {
        width: 100%;
    }

    .card > h2 {
        position: absolute;
        z-index: 2;
        left: 32px;
        bottom: 20px;

        font-size: 24px;
        color: var(--light-color);
    }

    ul {
        display: grid;

    }
}

.slider-section {
    margin: 16px;

    p {
        margin: 8px;
    }
}

.slider {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 15px;
}

.slide {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: auto;
    transform: translate(-50%, -50%) scale(0.8);
    transition: transform 0.5s ease-in-out, top 0.5s, z-index 0.5s;
    z-index: 1;
    opacity: 0.5;
}

.slide img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.active {
    transform: translate(-50%, -50%) scale(1);
    z-index: 2;
    opacity: 1;
}

.prev-slide {
    top: 25%;
    z-index: 1;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.5;
}

.next-slide {
    top: 75%;
    z-index: 1;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.5;
}

.prev,
.next {
    position: absolute;
    cursor: pointer;
    z-index: 10;
}

.prev {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.next {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.product-card {
    background-image: url(../images/mob-bgr-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 336px;
    max-width: 768px;
    padding: 24px 0 48px 24px;

    h2 {
        text-align: start;
        margin: 0 0 24px;

        font-family: var(--roboto-condensed);
        font-weight: 700;
        font-size: 20px;
        color: var(--light-color);
    }

    ul {
        margin: 0 0 32px 24px;
    
        list-style-type: disc;
        font-size: 14px;
        letter-spacing: 0.05em;
        color: var(--light-color);

        li:not(:last-child){
            margin-bottom: 8px;
        }
    }

    a {
        text-decoration: underline;
        cursor: pointer;
        font-size: 12px;
    }

}

.btn {
    display: block;
    border-radius: 8px;
    border: none;
    width: 160px;
    height: 48px;
    margin-top: 36px;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    background: #4ca15e;
    cursor: pointer;

    font-family: var(--roboto-condensed);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--light-color);
}

.bgr-2 {
    background-image: url(../images/mob-bgr-2.png);
}

.bgr-3 {
    background-image: url(../images/mob-bgr-3.png);
}

.bgr-4 {
    background-image: url(../images/mob-bgr-4.png);
}

.order-link {
    display: flex;
    align-items: center;
    gap: 20px;
}

.orders p {
    display: flex;
    margin: 24px;
}

.prod {
    max-width: 620px;
    padding: 8px;
    margin: 0 auto;
}

.prod-item {
    position: relative;

    h2 {
        position: absolute;
        left: 16px;
        bottom: 16px;
        font-size: 14px;
        color: var(--light-color);
    }

    img {
        width: 100%;
    }
}

.prod-items {
    display: grid;
    grid-template-areas: 
        "item-1 item-2"
        "item-3 item-2"
        "item-4 item-4";
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
}

#item-1 {
    grid-area: item-1;
}
#item-2 {
    grid-area: item-2;
    img {
        height: 100%;
    }
}
#item-3 {
    grid-area: item-3;
}
#item-4 {
    grid-area: item-4;
}

.prod > button {
    margin: 16px auto 32px;
}

.our-form {
    background-image: url(../images/mob-texture.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 480px;
    margin: 2px auto 32px;
    padding: 24px;
}

.form-div {
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
        font-family: var(--roboto-condensed);
        font-size: 14px;
        letter-spacing: 0.05em;
        color: var(--primery-color);
    }

    input {
        border: 2px solid var(--primery-color);
        border-radius: 4px;
        height: 40px;
        background-color: transparent;
        padding-left: 16px;
    }

    textarea {
        border: 2px solid var(--primery-color);
        border-radius: 4px;
        height: 160px;
        background-color: transparent;
        padding: 16px;
        resize: none;
    }

}

.form-btn {
    margin: 0 auto;
    width: 152px;
    height: 40px;
    background: var(--primery-color);
}

.accept {
    display: flex;
    gap: 8px;

    input {
        width: 16px; 
        height: 16px;
    }
}

.footer-container {
    display: flex;
    flex-direction: column;
    padding: 32px 8px 22px;

    background-color: var(--dark-color);

    iframe {
        border-radius: 4px;
        margin: 0 24px;
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 32px;
    padding: 24px 24px 30px 0;

    h2 {
        font-size: 20px;
        color: var(--light-color);
        text-align: end;
        margin: 0;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 16px;
        margin: 0;

        a {
            margin: 0;
        }
    }
}

.icon + .icon {
    margin-left: 30px;
}

.icon {
    width: 32px;
    height: 32px;
}

.footer-sign {
    display: flex;
    align-items: center;
    gap: 16px;
    border-top: 2px solid var(--light-color);
    padding: 16px 0 0 8px;

    img {
        width: 16px;
        height: 16px;
    }

    p {
        font-weight: 300;
        font-size: 14px;
        letter-spacing: 0.05em;
        color: var(--light-color);
    }
}